<p style="display:none;" id="currentid-child"><%= @current.id %></p>
<div class="container">
	<div class="jumbotron">
		<h2><%=@current.name%></h2></br>
		<img class="header-image" src="<%=@current.thumbnail%>">
	</div>

	<br><h3 class="center-text">About <%=@current.name%></h3>
		<p><%=@blurb%></p></br>


	<h3>Works</h3>
	<div class="artist-works">
		<% works = @current.artworks._response.body %>
		<% if works["_embedded"]["artworks"].length == 0 %>
			<h4>No works to display</h4>
		<% end %>
		<% works["_embedded"]["artworks"].each do |work|%>
			<li class="artist-work">
				<a href="/show?link=<%= work['_links']['self']["href"] %>" class="src-change-link"><img class="artist-work-img" src="<%= work['_links']['thumbnail']["href"] %>"></br><%= work['title'] %></a>
			</li>
		<% end %>
	</div>


	<h3>Similar Artists</h3>
	<div class="artist-works">
		<% artists = @current.similar_artists._response.body %>
		<% if artists["_embedded"]["artists"].length == 0 %>
			<h4>No artists to display</h4>
		<% end %>
		<% artists["_embedded"]["artists"].each do |artist|%>
			<li class="artist-work">
				<a href="/show?link=<%= artist['_links']['self']["href"] %>" class="src-change-link"><img src="<%= artist['_links']['thumbnail']["href"] %>"></br><%= artist['name'] %></a>
			</li>
		<% end %>
	</div>

	</br>
</div>