<p style="display:none;" id="currentid-child"><%= @current.id %></p>
<div class="container">
	<div class="jumbotron">
		<h2><%=@current.name%></h2></br>
		<img class="header-image" src="<%=@current.thumbnail%>">
	</div>

	<br><h3 class="center-text">About <%=@current.name%></h3>
		<p><%=@blurb%></p></br>

	</br>
</div>