<h1><%=@current.name%></h1>
<img class="header-image" src="<%=@current.thumbnail%>">

<h2>Works</h2>
<% works = @current.artworks._response.body %>
<% works["_embedded"]["artworks"].each do |work|%>
<li>
	<img src="<%= work['_links']['thumbnail']["href"] %>">
	<a href="/show?link=<%= work['_links']['self']["href"] %>"><%= work['title'] %></a>
</li>
<% end %>


<h2>Similar Artists</h2>
<% artists = @current.similar_artists._response.body %>
<% artists["_embedded"]["artists"].each do |artist|%>
<li>
	<img src="<%= artist['_links']['thumbnail']["href"] %>">
	<a href="/show?link=<%= artist['_links']['self']["href"] %>"><%= artist['name'] %></a>
</li>
<% end %>

</br>
<h2>About <%=@current.name%></h2>
<p><%=@current.blurb%></p>
</br>