
<form action="/game" method="GET">
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
	<div class="container">

		<div class="result_start search_results">
			<h3>Choose an artwork or artist to start with:</h3>
			<% @start_results.each do |result| %>
				<li>
					<input type="radio" name="starting_article" value="<%=result.self%>" class="radio_item" id="<%=result.self%>" required/>
					<!-- <a href="/show?link=<%=result.self%>&type=<%=result.type%>"> -->
					<label for="<%=result.self%>" class="label_item">
					<img src="<%=result.thumbnail%>"/>
					<p><%=result.title%></p>
					<!-- </a> -->
					</label>
				</li>
			<% end %>
		</div>


		<div class="result_goal search_results">
			<h3>Choose an artwork or artist as the goal:</h3>
			<% @goal_results.each do |result| %>
				<li>
					<input type="radio" name="ending_article" value="<%=result.self%>" class="radio_item" id="<%=result.self%>" required/>
					<!-- <a href="/show?link=<%=result.self%>&type=<%=result.type%>"> -->
					<label for="<%=result.self%>" class="label_item">
					<img src="<%=result.thumbnail%>"/>
					<p><%=result.title%></p>
					<!-- </a> -->
					</label>
				</li>
			<% end %>
		</div>

	</div>
	<div class="jumbotron">
		<input class="btn btn-default btn-lg" type="submit" name="Start Game!" value="Start Game!"/>
	</div>
</form>

<footer>
<a href="#" data-toggle="modal" data-target="#aboutModal">How to play</a> | Powered by <a href="http://artsy.net" target="_blank">Artsy</a>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">How to play</h4>
      </div>
      <div class="modal-body">
        Similar to <a href="http://en.wikipedia.org/wiki/Wikipedia:Wiki_Game">The Wikipedia Game</a>, players (one or more) start by selecting two artists or specific artworks. The goal is to traverse through the first artist/artwork page to arrive at the second artist/artwork in the least amount of time. </br></br>

        It is an explorative and learning game aiming to playfully recognize relationships between art entities. Enjoy!  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>

</footer>